<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Smoke" verbose="1" >
    <test name="SearchAndSorting">
        <classes>
            <class name="SearchSortingTest"/>
        </classes>
    </test>
    <test name="GoodsActionsFunctionality">
        <classes>
            <class name="GoodsActionsFunctionalityTest"/>
        </classes>
    </test>
    <test name="Category">
        <classes>
            <class name="CategorySelectionAndFilteringTest"/>
        </classes>
    </test>
    <test name="LoginAndRegistration">
        <classes>
            <class name="LoginAndRegistrationTest"/>
        </classes>
    </test>
</suite>